<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Online Bank</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h2 class="title">Transaction History</h2>

        <table class="table is-striped is-narrow is-hoverable">
            <thead>

            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Retailer</th>
                <th>Funds In</th>
                <th>Funds Out</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td>
                    <a th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}"><strong
                            th:text="${transaction.id}"></strong></a>
                </td>
                <td th:text="${#temporals.format(transaction.date, 'MM/dd/yyyy &nbsp; hh:mm:ss a')}"></td>
                <td th:text="${transaction.retailer}"></td>
                <!-- Display amount in Funds In column if type is 'C' (C = Credit) -->
                <td th:if="${transaction.type == 'C'}" th:text="'$' + ${transaction.amount}">Funds In</td>
                <td th:unless="${transaction.type == 'C'}"></td>
                <!-- Display amount in Funds Out column if type is 'D' (D = Debit)-->
                <td th:if="${transaction.type == 'D'}" th:text="'$' + ${transaction.amount}">Funds Out</td>
                <td th:unless="${transaction.type == 'D'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
